.link-text {
  text-align: center;
  font-size: 14px;
  margin: 0;
}

.link-text__label {
  color: var(--color-text);
}

.link-text__link {
  color: var(--color-secondary);
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}

.link-text__link:hover {
  color: var(--color-titles);
  text-decoration: underline;
}
