<div class="personal-data-form">
  <div class="personal-data-form__row">
    <div class="personal-data-form__field">
      <app-input-field
        label="Cédula"
        type="text"
        placeholder="1234567890"
        [value]="cedula"
        (valueChange)="cedulaChange.emit($event)"
      />
    </div>
    <div class="personal-data-form__field">
      <app-input-field
        label="Nombre"
        type="text"
        placeholder="Juan"
        [value]="nombre"
        (valueChange)="nombreChange.emit($event)"
      />
    </div>
  </div>
  <div class="personal-data-form__field">
    <app-input-field
      label="Apellidos"
      type="text"
      placeholder="García López"
      [value]="apellidos"
      (valueChange)="apellidosChange.emit($event)"
    />
  </div>
  <div class="personal-data-form__field">
    <app-input-field
      label="Correo electrónico"
      type="email"
      placeholder="usuario@elbosque.edu.co"
      [value]="email"
      (valueChange)="emailChange.emit($event)"
    />
  </div>
  <div class="personal-data-form__field">
    <app-input-field
      label="Ciudad de residencia"
      type="text"
      placeholder="Bogotá"
      [value]="ciudad"
      (valueChange)="ciudadChange.emit($event)"
    />
  </div>
  <div class="personal-data-form__field">
    <app-input-field
      label="Contraseña"
      type="password"
      placeholder="********"
      [value]="password"
      (valueChange)="passwordChange.emit($event)"
    />
  </div>
</div>
