<div class="personal-data-form">
  <div class="personal-data-form__row">
    <div class="personal-data-form__field">
      <app-input-field label="Cédula" type="text" placeholder="1234567890" />
    </div>
    <div class="personal-data-form__field">
      <app-input-field label="Nombre" type="text" placeholder="Juan García" />
    </div>
  </div>
  <div class="personal-data-form__field">
    <app-input-field
      label="Correo electrónico"
      type="email"
      placeholder="usuario@elbosque.edu.co"
    />
  </div>
  <div class="personal-data-form__field">
    <app-input-select />
  </div>
</div>
