<div class="credentials-form">
  <div class="credentials-form__field">
    <app-input-field
      label="Correo electrónico"
      type="email"
      placeholder="usuario@email.com"
      [value]="email"
      (valueChange)="emailChange.emit($event)"
    />
  </div>
  <div class="credentials-form__field">
    <app-input-field
      label="Contraseña"
      type="password"
      placeholder="********"
      [value]="password"
      (valueChange)="passwordChange.emit($event)"
    />
  </div>
  @if (showError) {
    <div class="credentials-form__error">
      <app-error-message message="Correo o contraseña incorrectos" />
    </div>
  }
</div>
