.register-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.register-form__header {
  margin-bottom: 8px;
}

.register-form__data {
  margin-bottom: 4px;
}

.register-form__actions {
  margin-top: 4px;
}
